@font-face {
  font-family: 'Mirza';
  src: url("../webfonts/Mirza-Bold.ttf") format("truetype"),
    url("../webfonts/Mirza-Medium.ttf") format("truetype"),
    url("../webfonts/Mirza-Regular.ttf") format("truetype"),
    url("../webfonts/Mirza-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url("../webfonts/Montserrat-Black.ttf") format("truetype"),
    url("../webfonts/Montserrat-BlackItalic.ttf") format("truetype"),
    url("../webfonts/Montserrat-Bold.ttf") format("truetype"),
    url("../webfonts/Montserrat-BoldItalic.ttf") format("truetype"),
    url("../webfonts/Montserrat-ExtraBold.ttf") format("truetype"),
    url("../webfonts/Montserrat-Regular.ttf") format("truetype"),
    url("../webfonts/Montserrat-Light.ttf") format("truetype"),
    url("../webfonts/Montserrat-Medium.ttf") format("truetype"),
    url("../webfonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url("../webfonts/Roboto-Black.ttf") format("truetype"),
        url("../webfonts/Roboto-BlackItalic.ttf") format("truetype"),
        url("../webfonts/Roboto-Bold.ttf") format("truetype"),
        url("../webfonts/Roboto-BoldItalic.ttf") format("truetype"),
        url("../webfonts/Roboto-Italic.ttf") format("truetype"),
        url("../webfonts/Roboto-Light.ttf") format("truetype"),
        url("../webfonts/Roboto-LightItalic.ttf") format("truetype"),
        url("../webfonts/Roboto-Medium.ttf") format("truetype"),
        url("../webfonts/Roboto-MediumItalic.ttf") format("truetype"),
        url("../webfonts/Roboto-Regular.ttf") format("truetype");
}
